COOKIE_NAME=mpos
COOKIE_SECRET=cookiesecret20190902
JWT_SECRET=jwtsecret20190902
JWT_ISSUER=localhost
JWT_AUDIENCE=http://localhost:3000
DB_HOST=10.10.0.10
DB_PORT=3306
DB_DATABASE=pos
DB_USERNAME=pos
DB_PASSWORD=pos